<rule name="rule 1L">
	<match url="^([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 2L">
	<match url="^([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 3L">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 4L">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 5L">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>
<rule name="rule 6L">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>
