<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
               
<rule name="rule 1k">
	<match url="^([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 2k">
	<match url="^([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 3k">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 4k">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 5k">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>
<rule name="rule 6k">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>




            </rules>
        </rewrite>
    </system.webServer>
</configuration>








