<rule name="rule 1M">
	<match url="^([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 2M">
	<match url="^([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}"  />
</rule>
<rule name="rule 3M">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 4M">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}"  />
</rule>
<rule name="rule 5M">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>
<rule name="rule 6M">
	<match url="^([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/$"  />
	<action type="Rewrite" url="/index.php?action={R:1}&amp;arg1={R:2}&amp;arg2={R:3}"  />
</rule>
