<form action ="" method="POST">
    <div class="6u 12u$(xsmall)">
        <input name="username" placeholder="Name" type="text" />
    </div>
    <div class="6u$ 12u$(xsmall)">
        <input name="password" placeholder="Password" type="password" />
    </div>
    <ul class="actions">
        <li><input type="hidden" value="login" name="action" id="action"/></li>
        <li><input type="submit" value="Log in" name="Log in" id="Log in" /></li>
    </ul>
</form>
<a href="signup/" class="button">Sign up</a>
